/* .App {
  text-align: center;
  background: url('./assets/phone.jpg');
  background-size: contain;
  background-color: #262626;
  margin: 0;
}

body {
  margin: 0;
  color: #262626;
}

header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-color: rgba(112,120,136, 0.3);
margin: 0;
}

nav {
  position: absolute;
  right: 50px;
  top: 20px;
  display: flex;
  justify-content: space-around;
  width: 550px;
  color: #262626;
  z-index: 5;
}

img {
  height: 150px;
  margin: 10px;
}

.img, .img2 {
  height: 65px;
  margin: 5px 0;
  margin: 5px 0;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.img {
  transition: background .5s ease;
  background: url('./assets/25231.png');
  background-size: 100%;
  height: 60px;
  width: 60px;
}

.img:hover {
  cursor: pointer;
  background: url('./assets/cat-pink.png');
  background-size: 100%; 
  height: 60px;
  width: 60px;
}

.img2 {
  transition: background .5s ease;
  background: url('./assets/In.png');
  background-size: 100%; 
  height: 55px;
  width: 55px;
}

.img2:hover {
  cursor: pointer;
  background: url('./assets/In-pink.png');
  background-size: 100%; 
  height: 55px;
  width: 55px;
}

@media (max-width: 1025px){
  .App {
    background: white;
    opacity: 1;
    background-repeat: no-repeat;
  }
}

@media (max-width: 500px){
  nav {
    display: flex;
    justify-content: space-evenly;
    position: static;
  }
}

span {
  font-weight: 600;
  font-size: 1.3rem
}

ul {
  background: #f3b54a;
  padding: 35px;
  border-radius: 3px;
}

@media (max-width: 500px){
  ul {
  width: 400px;
  padding: 0;
  }
}

#fredlist {
  color: white;
}

 */

 body {
  margin: 0;
  background: #262626;
}
