.App {
  text-align: center;
  background: url('./assets/birds-unsplash.jpg');
  background-size: contain;
  background-color: #262626;
  margin: 0;
}

body {
  margin: 0;
}

header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-color: rgba(100,100,100, 0.6);
margin: 0;
}

nav {
  position: fixed;
  right: 50px;
  top: 20px;
  display: flex;
  justify-content: space-around;
  width: 300px;
  color: #262626;
  z-index: 5;
}


