.App {
  text-align: center;
  background: url('./assets/birds-unsplash.jpg');
  background-size: contain;
  background-color: #262626;
  margin: 0;
}

body {
  margin: 0;
}

header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-color: rgba(100,100,100, 0.6);
margin: 0;
}

nav {
  position: fixed;
  right: 50px;
  top: 20px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  color: #262626;
  z-index: 5;
}

img {
  height: 65px;
  margin: 5px 0;
}

img:hover {
  cursor: pointer;
}

.img, .img2 {
  margin: 5px 0;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.img {
  transition: background .5s ease;
  background: url('./assets/25231.png');
  background-size: 100%;
  height: 60px;
  width: 60px;
}

.img:hover {
  cursor: pointer;
  background: url('./assets/cat-pink.png');
  background-size: 100%; 
  height: 60px;
  width: 60px;
}

.img2 {
  transition: background .5s ease;
  background: url('./assets/In.png');
  background-size: 100%; 
  height: 55px;
  width: 55px;
}

.img2:hover {
  cursor: pointer;
  background: url('./assets/In-pink.png');
  background-size: 100%; 
  height: 55px;
  width: 55px;
}